@font-face {
  font-family: raleway;
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: raleway, sans-serif;
  scroll-behavior: smooth;
  color: #f9f9f9;
  background-color: black;
  background-image: url("./images/login-background.jpg");
  /* font-family: Avenir-Roman, sans-serif; */
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
